# Assignment on List Comprehensions (Week 5 Day 4)

## Q1. Given a list of integers, [1, 2, 3, 4, 5], write a list comprehension that returns a new list where each number is squared, cubed and another one as power of itself.

In [1]:
Inter_List = [1,2,3,4,5]

[[i**i, i**3, i**i] for i in Inter_List]

[[1, 1, 1], [4, 8, 4], [27, 27, 27], [256, 64, 256], [3125, 125, 3125]]

## 2a Write a list comprehension that filters out only the even numbers from the list [10, 15, 20, 25, 30, 35].

In [29]:
is_even = [10, 15, 20, 25, 30, 35]
[i for i in is_even if i%2==0]

[10, 20, 30]

## 2b Write a list comprehenion/for loop that retuns every 4th vlaue in  range of 1 to 100

In [28]:
[i for i in range(1,100,4)]

[1,
 5,
 9,
 13,
 17,
 21,
 25,
 29,
 33,
 37,
 41,
 45,
 49,
 53,
 57,
 61,
 65,
 69,
 73,
 77,
 81,
 85,
 89,
 93,
 97]

## 3a. You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [4]:
fruits = ["apple", "banana", "cherry"]
[i.upper() for i in fruits]

['APPLE', 'BANANA', 'CHERRY']

## 3b. Now create a dictionary comprehension  to output the fruit as key and length of each character in the fruit as value

In [27]:
{k:v for k, v in zip(fruits, [len(i) for i in fruits])}

{'apple': 5, 'banana': 6, 'cherry': 6}

## 4. Given a list of numbers [1, 2, 3, 4, 5, 6], write a single list comprehension that returns: 
    "even" for each even number, and
    "odd" for each odd number.

In [6]:
List_no = [1, 2, 3, 4, 5, 6]

['Is Even:',([n for n in List_no if n%2 == 0]), 'Is Odd:',([n for n in List_no if n%2 != 0])]

['Is Even:', [2, 4, 6], 'Is Odd:', [1, 3, 5]]

## 5a Suppose you have a list of words like ["John", "Jane", "Erick", "Benard", "Comprehension"]. Write a list comprehension that extracts the first letter from each word.

In [30]:
word_names = ["John", "Jane", "Erick", "Benard", "Comprehension"]

[(i[0]) for i in word_names]

['J', 'J', 'E', 'B', 'C']

## 5b. Save the outputs as dictionary using dictionary comprehension to show the name of each individual as key and first charatcer as value

In [8]:
{k:v for k, v in zip(word_names,[(i[0][0]) for i in word_names])}

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

## 5c. Convert the outputs of number 1 to 5b as functions and test them

In [32]:
# No.1
def math_int (Data):
    print('[Square, Cube, raised by itself]:',[[i**i, i**3, i**i] for i in Data])
math_int(Inter_List)

# No.2a
def int_conv (int_data):
    print('Even Numbers:',[i for i in int_data if i%2==0])
int_conv(is_even)

# No.2b
def fouth_value (given_data):
    print('4th Value:',[i for i in given_data])
fouth_value(range_data)

# No.3a
def changetoupper (fruits_data):
    print('Upper_Case:', [i.upper() for i in fruits])
changetoupper(fruits)

# No.3b
def dic_compre (target_data_comp):
    print('Dictionary Comprehension:',{k:v for k, v in zip(target_data_comp,[i for i in range(len(target_data_comp))])})
dic_compre(fruits)

# No.4
def odd_even (list_data):
    print('Classify odd & Even:', ['Is Even:',([n for n in list_data if n%2 == 0]), 'Is Odd:',([n for n in list_data if n%2 != 0])])
odd_even(List_no)

# No.5a
def first_letter (target_names):
    print('First Letter of names:',[(i[0]) for i in target_names])
first_letter(word_names)

# No.5b
def dic_compre_tar (data_comp_ind):
    print('Dictionary Comprehension for given names:',{k:v for k, v in zip(data_comp_ind,[(i[0]) for i in data_comp_ind])})
dic_compre_tar(word_names)

[Square, Cube, raised by itself]: [[1, 1, 1], [4, 8, 4], [27, 27, 27], [256, 64, 256], [3125, 125, 3125]]
Even Numbers: [10, 20, 30]
4th Value: [1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]
Upper_Case: ['APPLE', 'BANANA', 'CHERRY']
Dictionary Comprehension: {'apple': 0, 'banana': 1, 'cherry': 2}
Classify odd & Even: ['Is Even:', [2, 4, 6], 'Is Odd:', [1, 3, 5]]
First Letter of names: ['J', 'J', 'E', 'B', 'C']
Dictionary Comprehension for given names: {'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

## 6. Using a lists and dictionary of your choice, create  a dictionary containing 4 lists (full name, age, wight, location, gender) of 10 students.

In [10]:
Students = {
    'Full_Name' : ['James Charles', 'Michael Onkoba', 'Robert Ratili', 'John Kibiru', 'David Orior', 'William Matthew', 'Mary Oganda', 'Patricia Daniel', 'Jennifer Santos', 'Linda Maina'],
    'Age' : [26, 25, 43, 23, 31, 24, 24, 23, 28, 25],
    'Weight' : [76, 80, 81, 77, 80, 69, 69, 80, 76, 81],
    'location' : ['Nairobi', 'Mombasa', 'Nakuru', 'Kisumu', 'Kisii', 'Nyeri', 'Kakamega', 'Malindi', 'Kitui', 'Turkana'],
    'gender' : ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female']
}
print(Students)

{'Full_Name': ['James Charles', 'Michael Onkoba', 'Robert Ratili', 'John Kibiru', 'David Orior', 'William Matthew', 'Mary Oganda', 'Patricia Daniel', 'Jennifer Santos', 'Linda Maina'], 'Age': [26, 25, 43, 23, 31, 24, 24, 23, 28, 25], 'Weight': [76, 80, 81, 77, 80, 69, 69, 80, 76, 81], 'location': ['Nairobi', 'Mombasa', 'Nakuru', 'Kisumu', 'Kisii', 'Nyeri', 'Kakamega', 'Malindi', 'Kitui', 'Turkana'], 'gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female']}

## 7. Convert the output of number six above into pandas dataframes

In [11]:
import pandas as pd
import numpy as np
df = pd.DataFrame(Students)
df

         Full_Name  Age  Weight  location  gender
0    James Charles   26      76   Nairobi    Male
1   Michael Onkoba   25      80   Mombasa    Male
2    Robert Ratili   43      81    Nakuru    Male
3      John Kibiru   23      77    Kisumu    Male
4      David Orior   31      80     Kisii    Male
5  William Matthew   24      69     Nyeri    Male
6      Mary Oganda   24      69  Kakamega  Female
7  Patricia Daniel   23      80   Malindi  Female
8  Jennifer Santos   28      76     Kitui  Female
9      Linda Maina   25      81   Turkana  Female

## 8. Now create a new dictionary of key as name of students in number six and value as gender of students using dictionary comprehensions

In [21]:
{k:v for k,v in zip(Students['Full_Name'],Students['Age'])}

{'James Charles': 26,
 'Michael Onkoba': 25,
 'Robert Ratili': 43,
 'John Kibiru': 23,
 'David Orior': 31,
 'William Matthew': 24,
 'Mary Oganda': 24,
 'Patricia Daniel': 23,
 'Jennifer Santos': 28,
 'Linda Maina': 25}

## 9. Create a new repository on github, make it private and add me (github name: Lunalo) as external collaborator

## 10. Push your work above into this newly created repository on github